{% extends "base.html" %}

{% block head %}
<title>Services</title>
<link href="https://fonts.googleapis.com/css?family=Oswald:300,500,600|Roboto:400,700" rel="stylesheet">
<!--CSS============================================= -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/flaticon.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/themify-icons.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/nice-select.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css')}}">

{% endblock %}




{% block body %}
<!-- Start Preloader Area -->
<!-- <div class="preloader-area">
    <div class="loader-box">
        <div class="loader"></div>
    </div>
</div> -->
<!-- End Preloader Area -->

<!-- Start Header Area -->
<header id="header">
    <div class="container main-menu">

        <div class="row align-items-center d-flex">

            <div>
                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li class=""><a href="/">Accueil</a></li>
                        <li><a href="/portfolio">Portfolio</a></li>
                        <li><a class="active" href="/services">Services</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="/blog">Blog</a></li>
                
                    </ul>
                </nav>
            </div>

        </div>

    </div>
</header>
<!-- End Header Area -->

<!-- start banner Area -->
<section class="banner-area relative portfolioheader">
    <div class="container portfolioheader-container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12 portfolioheader-about">
                <h1 class="text-white">Services</h1>
                <p>Text</p>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->









<!-- /////////////////////////////////// -->

<!-- Grids -->
<div class="grids d-flex justify-content-between">
    <div class="grid1"></div>
    <div class="grid2"></div>
    <div class="grid3"></div>
    <div class="grid4"></div>
    <div class="grid5"></div>
    <div class="grid6"></div>
    <div class="grid7"></div>
    <div class="grid8"></div>
    <div class="grid9"></div>
</div>
<br/>



<!-- Start Service Area -->
<section class="service-area section-gap-top serviceservice">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <h2><span>Mes services</span></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-service wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.0s">
                    <div class="d-flex align-items-center mb-3">
                        <i class="flaticon-button"></i>
                        <i class="flaticon-art"></i>
                        <h4 class="ml-3">Evenements</h4>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia commodi ipsa necessitatibus adipisci culpa quo assumenda odit. Id fugit alias sequi, earum, animi dolore deleniti incidunt vitae voluptate doloremque dolorem.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-service wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                    <div class="d-flex align-items-center mb-3">
                        <i class="flaticon-button"></i>
                        <h4 class="ml-3">Reportage</h4>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius harum rerum voluptas dolore at dignissimos, nisi nostrum atque blanditiis consectetur, porro omnis temporibus vel, ad quam! Nesciunt saepe nobis sunt.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-service wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
                    <div class="d-flex align-items-center mb-3">
                        <i class="flaticon-button"></i>
                        <h4 class="ml-3">Clip</h4>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, sunt laborum quibusdam fugiat voluptatem, officia, quaerat in nesciunt commodi sapiente placeat molestiae autem. Magni alias nemo accusamus, asperiores pariatur voluptas.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-service wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
                    <div class="d-flex align-items-center mb-3">
                        <i class="flaticon-button"></i>
                        <i class="flaticon-art"></i>
                        <h4 class="ml-3">PUB</h4>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quaerat accusamus deleniti atque molestiae cupiditate, voluptatem repudiandae possimus minima itaque perferendis saepe. Atque omnis commodi tempore nulla expedita sint incidunt!</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-service wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
                    <div class="d-flex align-items-center mb-3">
                        <i class="flaticon-button"></i>
                        <h4 class="ml-3">...</h4>
                    </div>
                    <p>...</p>
                </div>
            </div>

            
        </div>
    </div>
</section>
<!-- End Service Area -->






<!-- Start Pricing Area -->
<section class="pricing-area section-gap-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <h2><span class="whiteTitle">Tarifs</span></h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="pricing_item">
                    <h3 class="p_title">Shooting</h3>
                    <p class="p_criteria">Details</p>
                    <h1 class="p_price">€00.00</h1>
                    <div class="p_list">
                        <!-- <ul>
                            <li><span class="ti-check"></span> Unlimited Entrance</li>
                            <li><span class="ti-check"></span> Unlimited Entrance</li>
                            <li><span class="ti-check"></span> Unlimited Entrance</li>
                            <li><span class="ti-close cross"></span> Unlimited Entrance</li>
                            <li><span class="ti-close cross"></span> Unlimited Entrance</li>
                        </ul> -->
                        <a class="primary-btn mt-4" href="#" data-text="Reserver">
                            <span>R</span>
                            <span>E</span>
                            <span>S</span>
                            <span>E</span>
                            <span>R</span>
                            <span>V</span>
                            <span>E</span>
                            <span>R</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="pricing_item">
                    <h3 class="p_title">Clip</h3>
                    <p class="p_criteria">Details</p>
                    <h1 class="p_price">€00.00</h1>
                    <div class="p_list">
                        <!-- <ul>
                            <li><span class="ti-check"></span> Unlimited Entrance</li>
                            <li><span class="ti-check"></span> Unlimited Entrance</li>
                            <li><span class="ti-check"></span> Unlimited Entrance</li>
                            <li><span class="ti-close cross"></span> Unlimited Entrance</li>
                            <li><span class="ti-close cross"></span> Unlimited Entrance</li>
                        </ul> -->
                        <a class="primary-btn mt-4" href="#" data-text="Reserver">
                            <span>R</span>
                            <span>E</span>
                            <span>S</span>
                            <span>E</span>
                            <span>R</span>
                            <span>V</span>
                            <span>E</span>
                            <span>R</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="pricing_item">
                    <h3 class="p_title">Mariage</h3>
                    <p class="p_criteria">Details</p>
                    <h1 class="p_price">€00.00</h1>
                    <div class="p_list">
                        <!-- <ul>
                            <li><span class="ti-check"></span> Unlimited Entrance</li>
                            <li><span class="ti-check"></span> Unlimited Entrance</li>
                            <li><span class="ti-check"></span> Unlimited Entrance</li>
                            <li><span class="ti-close cross"></span> Unlimited Entrance</li>
                            <li><span class="ti-close cross"></span> Unlimited Entrance</li>
                        </ul> -->
                        <a class="primary-btn mt-4" href="#" data-text="Reserver">
                            <span>R</span>
                            <span>E</span>
                            <span>S</span>
                            <span>E</span>
                            <span>R</span>
                            <span>V</span>
                            <span>E</span>
                            <span>R</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Pricing Area -->







<!-- //////////////////////////////////////////////// -->



<!-- start footer Area -->
<footer class="footer-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-6 col-sm-6 social-widget">
                <div class="single-footer-widget">
                    <!-- <h2 class="suivez_moi">Suivez moi</h2> -->
                    <div class="social-icons">
                        <ul>
                            <li><a href=""><i class="ti-facebook"></i><span
                                        class="socialSpan">Facebook</span></a></li>
                            <li><a href=""><i class="ti-twitter"></i><span class="socialSpan">Twitter</span>
                                </a></li>
                            <li><a href=""><i class="ti-instagram"></i><span
                                        class="socialSpan">Instagram</span> </a></li>
                                        <li><a href=""><i class="ti-pinterest"></i><span class="socialSpan">Pinterest</span>
                                        </a></li>
                            <li><a href=""><i class="ti-youtube"></i><span class="socialSpan">Youtube</span>
                                </a></li>
                        </ul>
                    </div>
                    <div class="social-icons2">
                        <ul>
                            <li><a href="#"><i class="ti-facebook">facebook</i></a></li>
                            <li><a href="#"><i class="ti-twitter">twitter</i></a></li>
                            <li><a href="#"><i class="ti-instagram">instagram</i></a></li>
                            <li><a href="#"><i class="ti-pinterest">pinterest</i></a></li>
                            <li><a href="#"><i class="ti-youtube">youtube</i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-6">
                <!-- <div class="single-footer-widget">
                    <p>
                        Text accrocheur 
                    </p>
                </div> -->
            </div>
            <div class="col-lg-5  col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <div id="logo">
                        <a href="index.html"><img src="{{ url_for('static', filename='img/projet-vinax.png')}}" alt=""
                                title="" /></a>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-12">
                <p class="footer-text">
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script>
            </div>
        </div>
    </div>
</footer>
<!-- End footer Area -->

<!-- ####################### Start Scroll to Top Area ####################### -->
<div id="back-top">
    <a title="Go to Top" href="#">
        <i class="ti-angle-double-up"></i>
    </a>
</div>
<!-- ####################### End Scroll to Top Area ####################### -->
<!-- ///P -->
<script src="{{ url_for('static', filename='js-p/jquery/jquery-2.2.4.min.js')}}"></script>
<script src="{{ url_for('static', filename='js-p/popper.min.js')}}"></script>
<script src="{{ url_for('static', filename='js-p/bootstrap.min.js')}}"></script>
<script src="{{ url_for('static', filename='js-p/plugins.js')}}"></script>
<script src="{{ url_for('static', filename='js-p/active.js')}}"></script>
<!-- //////// -->
<script src="{{ url_for('static', filename='js/vendor/jquery-2.2.4.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/vendor/bootstrap.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/easing.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/hoverIntent.js')}}"></script>
<script src="{{ url_for('static', filename='js/superfish.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/mn-accordion.js')}}"></script>
<script src="{{ url_for('static', filename='js/jquery.ajaxchimp.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/owl.carousel.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/jquery.nice-select.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/isotope.pkgd.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/mail-script.js')}}"></script>
<script src="{{ url_for('static', filename='js/wow.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/main.js')}}"></script>


{% endblock %}